body{
    display: block;
    color: #555;
    
    
}
/*HEADER ZONE*/
.header{
    background-color: black;
    margin-bottom: 0px;
    display: block;
}
.header .menu {
    text-align: right;
    height: 30px;
    width: 100%;
    padding-top: 5px;
    overflow: hidden;

}
.header .menu li{
   display: inline-block;
   margin-top: 0px;
   
   padding: 0 10px;
   text-align: center;
}
.header a{
    color: white;
 
}

.header a:link{
    text-decoration: none;
    color: white;
}
.header a:hover{
    color: orangered;
}
ul{ 
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-start: 0px;
    padding-inline-start: 0px;
}
ul, ol {
    margin-top: 0px;
    margin-bottom: 0px;
}
/*NAV*/

.dropdown{
    display: inline-block;
    position: static;

    height: 100%;
}
.dropdown-content{

  display: none;
  position: relative;
  background-color: gray;
  margin-top: 0px;
  padding: 12px 16px 12px 16px;
  border-radius: 10px;
  width: 100%;
  border:none


}
.dropdown-content .arrow
{
    background-color: aliceblue;
    position: absolute;
    width: 10vw;
    height: 10vw;
    transform: rotate(45deg);
    background-color:gray;
    top: 0;
 


}
.sp{
    left: calc(10rem);
}
.nam{
    left: calc(12vw + 11rem);
}
.nu
{
    left: calc(17vw + 13rem)
}
.pk
{
    left: calc(28vw + 13rem)
}
.dropdown:hover>.dropdown-content {
    display:block;
}
.dropdown:hover>a {
    color: orange;
}
.dropdown a{
    font-weight: bolder;
    color: whitesmoke;
    font-size: 2vw;
}
.dropdown>a:link{
    text-decoration: none;
    color: whitesmoke;
}
.dropdown a:hover{
    color: orange;
    text-decoration: none;
    
}

.dropdown-menu, .dropdown-item{
    position: relative;
}
.search, .search-text, .btn{
    border: none;
    background-color: white;
    border-radius: 20px;
    
    
    
}
.search
{
    width: 16vw;
    position: relative;
    /* right: 50px;
    bottom: 43px; */
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    
    
}
.search-text
{
    width: 70%!important;
    margin: 0;
    padding-right: 10px;
    font-size: 1vw;
}
.icon-search
{
    width:20%;
    padding-left: 5px;
    
}

.icon-search:hover{
    background-color: gray;
    
}
.box-link{

    justify-content: center;
    align-items: center;
    margin  : 0 10px 0 0;

    color: whitesmoke;
    font-size: 9vw;
    
}
.box-link:link{
    text-decoration: none;
    color: whitesmoke;
}
.box-link:hover{
    color: orange;
}


@media only screen and (max-width: 768px) {
    .navbar-brand img {
      width: calc(10vw + 16px);
      height: calc(10vw + 16px);
    }
    .navbar{
        padding-left: 1rem!important;
        padding-right: 1rem!important;

    }
  }
#content
{
    margin-top: 20ch;
}
.navbar
{
    height: 100px;
}