body{
    display: block;
    color: #555;
}
/*HEADER ZONE*/
.header{
    background-color: black;
    margin-bottom: 0px;
}
.header .menu {
    text-align: right;
    height: 30px;
    width: 100%;
    padding-top: 5px;
    overflow: hidden;

}
.header .menu li{
   display: inline-block;
   margin-top: 0px;
   
   padding: 0 10px;
   text-align: center;
}
.header a{
    color: white;
 
}

.header a:link{
    text-decoration: none;
    color: white;
}
.header a:hover{
    color: red;
}
ul{ 
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-start: 0px;
    padding-inline-start: 0px;
}
ul, ol {
    margin-top: 0px;
    margin-bottom: 0px;
}
/*NAV*/

.dropdown{
    display: inline-block;
    position: relative;
    height: 100%;
}
.dropdown-content{

  display: none;
  position: absolute;
  background-color: gray;
  margin-top: 0px;
  padding: 12px 16px;
  border-radius: 10px;

}
.dropdown:hover>.dropdown-content {
    display:block;
}
.dropdown:hover>a {
    color: orange;
}
.dropdown a{
    font-weight: bolder;
    color: whitesmoke;
    font-size: 30px;
}
.dropdown>a:link{
    text-decoration: none;
    color: whitesmoke;
}
.dropdown a:hover{
    color: orange;
    text-decoration: none;
    
}
.dropdown-menu, .dropdown-item{
    position: relative;
}

