<h1 class="container text-center bg-warning  font-weight-bold p-2">GIỎ CỦA BẠN </h1>
<div class="container mt-3 mb-3">

  <div class="row jusify-content-between">
    <div class="col-lg-8 mt-3 p-0">
      <!--ITEM-->
      <div class="container mb-3 bg-light">
        <div class="row">
          <div class="col-md-4 text-center p-0 m-0">
            <img src="./img/pro_A61107_2.jpg" alt="Item" height="215px">
          </div>
          <div class="col">
            <div class="row p-1 justify-content-center  ">
              <h5 class="col p-0 m-0 hldash text-center">GIÀY CƠ ĐỘNG</h5>

            </div>
            <div class="row p-1">
              <p class="p-0 m-0">Tăng 10% tốc độ di chuyển, 50% sưc bền và 100% sự quyến rũ.</p>
            </div>
            <div class="row p-1 text-warning">
              <p class="p-0 m-0">Chỉ còn 12 sản phẩm</p>
            </div>

            <div class="row p-1 justify-content-between ">

              <div class="col p-0 m-0">
                <div class="row">
                  <div class="col">
                    <div class="row justify-content p-0 m-0">
                      <button class="pr-2  bg-light text-primary font-weight-bolder p-0 pr-4" onclick=""
                        style="border:none">XÓA</button>
                      <button class="  bg-light text-primary  font-weight-bolder" onclick="" style="border:none; ">MUA
                        SAU</button>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="row">
                      <button class=" bg-primary text-light font-weight-bolder" onclick=""
                        style="border-radius:1000px; height: 25px;">-</button>
                      <p id="Number" class="text-center align-content-center p-0 m-0"
                        style="border-radius:1000px; height: 15px; width: 15px;">1 </p>
                      <button class=" bg-primary text-light font-weight-bolder" onclick=""
                        style="border-radius:1000px; height: 25px;">+</button>
                    </div>
                  </div>

                  <p id="Number" class=" col-3 text-center align-content-center p-0 m-0"
                    style="border-radius:1000px; font-size: 15px;">250 000 VND</p>
                </div>


              </div>

            </div>
          </div>

        </div>

      </div>

      <div class="container mb-3 bg-light">
        <div class="row">
          <div class="col-md-4 text-center p-0 m-0">
            <img src="./img/pro_A61107_2.jpg" alt="Item" height="215px">
          </div>
          <div class="col">
            <div class="row p-1 justify-content-center  ">
              <h5 class="col p-0 m-0 hldash text-center">GIÀY CƠ ĐỘNG</h5>

            </div>
            <div class="row p-1">
              <p class="p-0 m-0">Tăng 10% tốc độ di chuyển, 50% sưc bền và 100% sự quyến rũ.</p>
            </div>
            <div class="row p-1 text-warning">
              <p class="p-0 m-0">Chỉ còn 12 sản phẩm</p>
            </div>

            <div class="row p-1 justify-content-between ">

              <div class="col p-0 m-0">
                <div class="row">
                  <div class="col">
                    <div class="row justify-content p-0 m-0">
                      <button class="pr-2  bg-light text-primary font-weight-bolder p-0 pr-4" onclick=""
                        style="border:none">XÓA</button>
                      <button class="  bg-light text-primary  font-weight-bolder" onclick="" style="border:none; ">MUA
                        SAU</button>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="row">
                      <button class=" bg-primary text-light font-weight-bolder" onclick=""
                        style="border-radius:1000px; height: 25px;">-</button>
                      <p id="Number" class="text-center align-content-center p-0 m-0"
                        style="border-radius:1000px; height: 15px; width: 15px;">1 </p>
                      <button class=" bg-primary text-light font-weight-bolder" onclick=""
                        style="border-radius:1000px; height: 25px;">+</button>
                    </div>
                  </div>

                  <p id="Number" class=" col-3 text-center align-content-center p-0 m-0"
                    style="border-radius:1000px; font-size: 15px;">250 000 VND</p>
                </div>


              </div>

            </div>
          </div>

        </div>

      </div>

    </div>

    <div class="col-lg-4 justify-content-center">
      <div class="container mt-3">

        <div class="row hl2dash vl2 bg-secondary justify-content-center">
          <p class=" m-1 text-light font-weight-bold">Địa chỉ</p>
          <a href=""><i class="fa fa-edit"></i></a>
        </div>
        <div class="row vl2 p-0 ">
          <div class="col-6  p-0 m-0 text-center  ">
            <p class="p-1 m-0">Trần Phi Phụng</p>
          </div>

          <div class=" col-5  p-0 m-0 text-center vl">
            <p class="p-1 m-0">0912939711</p>
          </div>
        </div>
        <div class="row box-dash p-1" style="font-size: 16px;">
          <p class="col p-1 m-0">112/15 Thành Thái, Quận Tân Bình, TpHCM </p>
        </div>
      </div>
      <div class="container mt-3">

        <div class="row hl2dash vl2 bg-secondary justify-content-center">
          <p class=" m-1 text-light font-weight-bold">Mã khuyến mãi</p>
          <a href=""><i class="fa fa-edit"></i></a>
        </div>
        <div class="row vl2 p-0 ">
          <div class="col p-0 m-0 text-center font-weight-bolder ">
            <p class="p-1 m-0">#NoNameNoNumber</p>
          </div>
        </div>
        <div class="row box-dash p-1 text-center font-weight-bolder text-primary" style="font-size: 16px;">
          <p class="col p-1 m-0">-100 000 VND </p>
        </div>

      </div>

      <div class="container mt-3">

        <div class="row hl2dash vl2 bg-secondary justify-content-center">
          <p class=" m-1 text-light font-weight-bold">THANH TOÁN</p>
        </div>
        <div class="row hldash vl2  justify-content-between">
          <p class=" m-1 text-dark font-weight-bold">TỔNG TIỀN</p>
          <p class=" m-1 text-danger font-weight-bold">500 000 VND</p>
        </div>
        <div class="row vl2 p-0 hldash  justify-content-between">
          <p class=" m-1 text-dark font-weight-bold">VOUCHER</p>
          <p class=" m-1  font-weight-bold text-primary">-100 000 VND</p>
        </div>
        <div class="row vl2 p-0 hldash  justify-content-between">
          <p class=" m-1 text-dark font-weight-bold">THÀNH TIỀN</p>
          <h4 class=" m-1  font-weight-bold text-primary ">400 000 VND</h4>
        </div>
      </div>

      <div class="container mt-3 justify-content-center">
        <div class="row  justify-content-center">
          <button class="btn col btn-warning bg-warning">
            <p class="p-0 m-0 font-weight-bold">ĐẶT HÀNG</p>
          </button>
        </div>


      </div>
    </div>
  </div>

</div>