<div class="container-fluid pt-4">
    <div class="row bg-dark" id="NAV_LEFT">
      <div class="col-md-2 col-sm-12 justify-content-center bg-dark box-dash p-2 mb-3" style="border-color:white">
        <div class="  justify-content-center bg-warning ">
          <h3 class=" p-0 m-0 text-center text-dark font-weight-bolder">PHÂN LOẠI</h3>
        </div>


        <div class=" card-header   text-center pb-0 ">
          <div class="row  bg-warning  hl2dash justify-content-center " data-toggle="collapse" href="#DT">
            <h3 class=" p-0 m-0  font-weight-bold" style="cursor: pointer;"> ĐỐI TƯỢNG </h3>
          </div>
          <div id="DT" class="collapse show  font-weight-bold" data-parent="#DT">
            <div class="card-body ">
              <ul class=" justify-content-center  ">
                <li class="row text-light bg-dark hl2dash justify-content-center">
                  <a href="#">UNISET</a>
                </li>
                <li class="row text-dark bg-dark  justify-content-center">
                  <a href="#">GENTELMENT</a>
                </li>
                <li class="row text-dark bg-dark  hl2dash  justify-content-center">
                  <a href="#">LADY</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class=" card-header   text-dark text-center pb-0 ">
          <div class="row  bg-warning  hl2dash justify-content-center" data-toggle="collapse" href="#Loai">
            <h3 class=" p-0 m-0  font-weight-bold" style="cursor: pointer;"> LOAI </h3>
          </div>
          <div id="Loai" class="collapse show  font-weight-bold" data-parent="#Loai">
            <div class="card-body ">
              <ul class=" justify-content-center  ">
                <li class="row text-dark bg-dark hl2dash justify-content-center">
                  <a href="#">QUẦN</a>
                </li>
                <li class="row text-dark bg-dark  justify-content-center">
                  <a href="#">ÁO</a>
                </li>
                <li class="row text-dark bg-dark  hl2dash  justify-content-center">
                  <a href="#">GIÀY</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class=" card-header   text-dark text-center pb-0  ">
          <div class="row   bg-warning  hl2dash justify-content-center" data-toggle="collapse" href="#TH">
            <h3 class=" p-0 m-0  font-weight-bold" style="cursor: pointer;"> THƯƠNG HIỆU </h3>
          </div>
          <div id="TH" class="collapse show  font-weight-bold" data-parent="#TH">
            <div class="card-body ">
              <ul class=" justify-content-center  ">
                <li class="row text-dark bg-dark hl2dash justify-content-center">
                  <a href="#">ADIDASPHAS</a>
                </li>
                <li class="row text-dark bg-dark  justify-content-center">
                  <a href="#">NIKE</a>
                </li>
                <li class="row text-dark bg-dark  hl2dash  justify-content-center">
                  <a href="#">BUMMA</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class=" card-header   text-dark text-center pb-0 ">
          <div class="row   bg-warning  hl2dash justify-content-center" data-toggle="collapse" href="#UPDATE">
            <h3 class=" p-0 m-0  font-weight-bold" style="cursor: pointer;"> UPDATE </h3>
          </div>
          <div id="UPDATE" class="collapse show  font-weight-bold" data-parent="#UPDATE">
            <div class="card-body ">
              <ul class=" justify-content-center  ">
                <li class="row text-dark bg-dark hl2dash justify-content-center">
                  <a href="#">UPDATE</a>
                </li>
                <li class="row text-dark bg-dark  justify-content-center">
                  <a href="#">UPDATE</a>
                </li>
                <li class="row text-dark bg-dark  hl2dash  justify-content-center">
                  <a href="#">UPDATE</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-10 col-sm-12  ">
        <div class="container-fluid">
          <div class="row  justify-content-center bg-warning  box-dash" style="border-color: white;">
            <h2 class=" p-0 m-0 text-center text-dark font-weight-bolder ">TÊN THEO LOẠI TÌM KIẾM Ở ĐÂY</h2>
          </div>
        </div>

        <div class="row justify-content-center mt-2">
          <div class="col-lg-3 col-md-3 col-sm-6 m-1 p-0  bg-light " style="border-radius: 10px;">
            <a href="Show1Product.html"><img src="/img/product1.jpg" alt="" class="img-fluid card-img-top"></a>
            <div class="card-body ITEM text-center  ">
              <div class=" text-center m-0">
                <h5><a href="Show1Product.html">Nikas Street Fighter</a></h5>
                <p class="p-0 m-0">Low-top/Street</p>
              </div>
              <p class="Price m-0">100.000 VND</p>
              <a class="btn"><i class="fa fa-heart fa-2x"></i></a>
              <a class="btn"><i class="fa fa-shopping-cart fa-2x"></i></a>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 m-1 p-0  bg-light " style="border-radius: 10px;">
            <a href="Show1Product.html"><img src="/img/product1.jpg" alt="" class="img-fluid card-img-top"></a>
            <div class="card-body ITEM text-center  ">
              <div class=" text-center m-0">
                <h5><a href="Show1Product.html">Nikas Street Fighter</a></h5>
                <p class="p-0 m-0">Low-top/Street</p>
              </div>
              <p class="Price m-0">100.000 VND</p>
              <a class="btn"><i class="fa fa-heart fa-2x"></i></a>
              <a class="btn"><i class="fa fa-shopping-cart fa-2x"></i></a>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 m-1 p-0  bg-light " style="border-radius: 10px;">
            <a href="Show1Product.html"><img src="/img/product1.jpg" alt="" class="img-fluid card-img-top"></a>
            <div class="card-body ITEM text-center  ">
              <div class=" text-center m-0">
                <h5><a href="Show1Product.html">Nikas Street Fighter</a></h5>
                <p class="p-0 m-0">Low-top/Street</p>
              </div>
              <p class="Price m-0">100.000 VND</p>
              <a class="btn"><i class="fa fa-heart fa-2x"></i></a>
              <a class="btn"><i class="fa fa-shopping-cart fa-2x"></i></a>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 m-2 p-0  bg-light " style="border-radius: 10px;">
            <a href="Show1Product.html"><img src="/img/product1.jpg" alt="" class="img-fluid card-img-top"></a>
            <div class="card-body ITEM text-center  ">
              <div class=" text-center m-0">
                <h5><a href="Show1Product.html">Nikas Street Fighter</a></h5>
                <p class="p-0 m-0">Low-top/Street</p>
              </div>
              <p class="Price m-0">100.000 VND</p>
              <a class="btn"><i class="fa fa-heart fa-2x"></i></a>
              <a class="btn"><i class="fa fa-shopping-cart fa-2x"></i></a>
            </div>
          </div>
        </div>





      </div>
    </div>
  </div>