 <div class="row  justify-content-center bg-warning " >
                  <h2 class=" p-0 m-0 text-center text-dark font-weight-bolder ">Lịch sử giao dịch {{Type}}</h2>
                </div>
                <div class="container-fluid ">
                  <table class="table">
                      <thead>
                          <th scope="col">Mã giao dịch</th>
                          <th scope="col">Ngày giao dịch</th>
                          <th scope="col">Sản Phẩm</th>
                          <th scope="col">Tổng Tiền</th>
                          <th scope="col">Trạng thái</th>
                      </thead>
                      <tbody>
                          <tr id ="111">
                              <td><a>111</a></td>
                              <td>11/12</td>
                              <td>Áo Choàng Lửa</td>
                              <td>100.000 VND</td>
                              <td>Đã giao</td>
                          </tr>
                          <tr id ="112">
                            <td><a>112</a></td>
                            <td>11/12</td>
                            <td>Giày Ninja</td>
                            <td>100.000 VND</td>
                            <td>Đã giao</td>
                          </tr>
                          <tr id ="111">
                            <td><a>113</a></td>
                            <td>11/12</td>
                            <td>Mũ Thích Nghi</td>
                            <td>100.000 VND</td>
                            <td>Đã giao</td>
                           </tr>
                      </tbody>
                  </table>
              </div>