<style>
      tr a{
        color: blue !important;
      }
</style>
 <div class="row  justify-content-center bg-warning " >
                  <h2 class=" p-0 m-0 text-center text-dark font-weight-bolder ">Mã Của Bạn {{Type}}</h2>
                </div>
                <div class="container-fluid ">
                  <table class="table">
                      <thead>
                          <th scope="col">Mã khuyến mãi</th>
                          <th scope="col">Giá Trị</th>
                          <th scope="col">Ngày áp dụng</th>
                          <th scope="col">Ngày kết thúc</th>
                          <th scope="col">Trạng thái</th>
                          
                      </thead>
                      <tbody >
                          <tr id ="111">
                              <td><a href="#">#VuiGiangSinh</a></td>
                              <td>20%</td>
                              <td>1/12</td>
                              <td>31/12</td>
                              <td>Đã Dùng</td>
                          </tr>
                          <tr id ="112">
                            <td><a href="#">#MungNamMoi</a></td>
                            <td>10%</td>
                            <td>1/1</td>
                            <td>31/11</td>
                            <td>Chưa Áp Dụng</td>
                          </tr>
                          <tr id ="111">
                            <td><a href="#">#MuaLanDau</a></td>
                            <td>30%</td>
                            <td>1/1</td>
                            <td>31/12</td>
                            <td>Có thể dùng</td>
                           </tr>
                      </tbody>
                  </table>
              </div>