
                <div class="container-fluid justify-content-center">
                  <div class="row  justify-content-center bg-warning " >
                    <h2 class=" p-0 m-0 text-center text-dark font-weight-bolder ">HỒ SƠ CỦA BẠN</h2>
                  </div>  
                </div>
                <div class="container  bg-light p-5 ">
                  <form action="/ChangeProfile" method="post">
                  
                    <div  class="row mt-3 mb-3 justify-content-center"> 
                    <label  class = "col-3 " >Tên Đăng Nhập:</label>
                      <div  id="id" >Anhlavodich@gmail.com</div>
                  </div>

                  <div  class="row mt-3 mb-3 justify-content-center">
                    <label  class = "col-3"  for="username" >Họ và Tên:</label>
                      <input type="text"  class = "col-3" name="User" id="username" value="TRUONG BAT GIOI" required disabled>
                  </div>

                  <div  class="row mt-3 mb-3 justify-content-center">
                    <label class = "col-3" for="age" >Tuổi:</label>
                      <input type="text"  class = "col-3" name="User" id="age" value="13" required disabled>
                  </div>
            
                  <div  class="row mt-3 mb-3 justify-content-center">
                    <div   class = "col-3 "  >Giới Tính:</div>
                    
                    <div class="col-3">
                      <label for="Nam" class="">NAM</label> <input type="radio" name="User" id="Nam" value="Nam" checked disabled> 
                      <label for="Nu" class="pl-5">NỮ</label> <input type="radio" name="User" id="Nu" value="Nu" disabled>
                    </div>
                  </div>

                  <div  class="row mt-3 mb-3 justify-content-center">
                    <label  class = "col-3"  for="Adress" >Địa chỉ:</label>
                     <input type="text"  class = "col-3" name="User" id="Adress" value="215E - Trasarel - Miami" required disabled>
                  </div>

                  <div  class="row mt-3 mb-3 justify-content-center">
                    <label  class = "col-3"  for="phone" >Số Điện Thoại:</label>
                     <input type="text"  class = "col-3" name="User" id="phone" value="0123654999" required disabled>
                  </div>

                  <div  class="row mt-3 mb-3 justify-content-center">
                    <label  class = "col-3"   for="mail" >Email</label>
                      <input type="text"  class = "col-3" name="User" id="mail" value="Anhlavodich@gmail.com" required disabled>
                  </div>

                  <div  class="row mt-3 mb-3 justify-content-center">
                  
                    <input type="submit" id=submit  class = " btn btn-primary" value="HOÀN TẤT" disabled>
                  </div>
                 
                  </form>
                  <div class="text-center">
                    <button class="btn btn-primary bg-dark" onclick="OK()">THAY ĐỔI THÔNG TIN</button>
                  </div>
                  <script>
                      function OK(){
                      var Temp = document.getElementsByTagName('input');
                      
                      for(let i=0; i<Temp.length;i++){
                        Temp[i].disabled = false  
                      }
                    }
                 </script>
                </div>
      